@using isriding.Web.Models.Authen
@model isriding.Web.Models.SchoolManage.RefoundModel
@{
    ViewBag.Title = "会员充值";
    var buttonList = ViewBag.ButtonList as List<PermissionButtonModel>;
}

@if (buttonList != null && buttonList.Any(t => t.Name.ToLower() == "浏览"))
{
    @Html.Partial("_Search", Model.Search)
    @Html.Partial("_List")
    @Html.Partial("Modal")

    @section scripts{
        <script>
            var oTable = null;

            $(function() {
                var actionUrl = "@Url.Action("InitDataTable")?rand=" + Math.random() + "&" + $("#search_form").serialize();
                var aoColumns = [
                    { "sName": "sort" },
                    { "sName": "School_name" },
                    { "sName": "User_name" },
                    { "sName": "Refound_amount" },
                    {
                        "sName": "Recharge_method",
                        "fnRender": function(oObj) {
                            var render;
                            var t = oObj.aData[oObj.aData.length - 7];
                            if (t === "1") {
                                render = '支付宝';
                            } else if (t === "2") {
                                render = '微信';
                            } else if (t === "3") {
                                render = '银联';
                            } else {
                                render = '未知';
                            }

                            return render;
                        }
                    },
                    {
                        "sName": "Recharge_type",
                        "fnRender": function(oObj) {
                            var render;
                            var t = oObj.aData[oObj.aData.length - 6];
                            if (t === "1") {
                                render = '押金';
                            } else if (t === "2") {
                                render = '预充值';
                            } else {
                                render = '未知';
                            }

                            return render;
                        }
                    },
                    {
                        "sName": "Type",
                        "fnRender": function(oObj) {
                            var render;
                            var t = oObj.aData[oObj.aData.length - 5];
                            if (t === "1") {
                                render = '充值';
                            } else if (t === "2") {
                                render = '退款';
                            } else {
                                render = '未知';
                            }

                            return render;
                        }
                    },
                    {
                        "sName": "Status",
                        "fnRender": function(oObj) {
                            var render;
                            var t = oObj.aData[oObj.aData.length - 4];
                            if (t === "0") {
                                render = '正常';
                            } else if (t === "1") {
                                render = '申请退款';
                            } else if (t === "2") {
                                render = '退款成功';
                            } else {
                                render = '未知';
                            }

                            return render;
                        }
                    },
                    { "sName": "recharge_docno" },
                    {
                        "sName": "action",
                        "fnRender": function(oObj) {
                            //var editUrl = '@Url.Action("Edit")';
                            var deleteUrl = '@Url.Action("Delete")';
                            var t = oObj.aData[oObj.aData.length - 4];
                            var render = "";
                            @*@if (buttonList.Any(t => t.Name.ToLower() == "设置权限"))
                            {
                                <text>render += "<a href=\"javascript:void(0);\" class=\"btn btn-xs green\" onclick=\"SetPermission('@Url.Action("SetPermission")','" + oObj.aData[oObj.aData.length - 1] + "')\"><i class=\"fa fa-gears\"></i> 授权</a> ";</text>
                            }*@
                            @if (buttonList.Any(t => t.Name.ToLower() == "编辑"))
                            {
                                //<text>render += TableManaged.btnEdit(editUrl, oObj.aData[oObj.aData.length - 1]) + ' ';</text>

                                <text>if (t === "申请退款") {
                                    render += "<a href=\"javascript:void(0);\" class=\"btn btn-xs green\" onclick=\"Refund('@Url.Action("Refund")','" + oObj.aData[oObj.aData.length - 2] + "')\"><i class=\"fa fa-gears\"></i> 退款</a>";
                                }</text>

                            }
                            @if (buttonList.Any(t => t.Name.ToLower() == "删除"))
                            {
                                <text>render += TableManaged.btnDelete(deleteUrl, oObj.aData[oObj.aData.length - 1]);</text>
                            }
                            return render;

                            var btnArray = "";
                            if (t === "申请退款") {
                                btnArray += "<a href=\"javascript:void(0);\" class=\"btn btn-xs green\" onclick=\"Refund('@Url.Action("Refund")','" + oObj.aData[oObj.aData.length - 2] + "')\"><i class=\"fa fa-gears\"></i> 退款</a>";
                            }
                            //btnArray += " <a href=\"javascript:void(0);\" class=\"btn btn-xs purple\" onclick=\"Edit('" + editUrl + "','" + oObj.aData[oObj.aData.length - 1] + "')\"><i class=\"fa fa-edit\"></i> 编辑</a>";
                            btnArray += " <a href=\"javascript:void(0)\" class=\"btn btn-xs red\" onclick=\"TableManaged.confirmDelete(this, '" + deleteUrl + "')\"><i class=\"fa fa-times\"></i> 删除</a>";
                            return btnArray;

                            //return TableManaged.btnEdit(editUrl, oObj.aData[oObj.aData.length - 1]) + ' ' + TableManaged.btnDelete(deleteUrl, oObj.aData[oObj.aData.length - 1]);
                        }
                    }
                ];
                var fnDrawCallback = function () {
                    //$("[data-toggle='tooltip']").popover();
                };
                oTable = TableManaged.init($(".datatable"), actionUrl, aoColumns, fnDrawCallback);

                $('#search_form').keypress(function(e) {
                    if (e.which === 13) {
                        e.preventDefault(); //取消回车原事件
                        TableManaged.search('@Url.Action("InitDataTable")');
                    }
                });

                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    minDate: 0,
                    weekStart: 1,
                    autoclose: true,
                    todayBtn: 'linked',
                    language: 'zh-CN'
                });
            });

            ////新增
            //function Create(actionUrl) {
            //    ShowModal(actionUrl, {}, "新增");
            //}

            ////编辑
            //function Edit(actionUrl, id) {
            //    var param = { id: id };
            //    ShowModal(actionUrl, param, "编辑");
            //}

            ////保存
            //function Save() {
            //    SaveModal(oTable);
            //}

            //退款
            function Refund(actionUrl, id) {
                if (!confirm("确定要退款"))
                    return;
                var param = { id: id };
                $.ajax({
                    type: "post",
                    url: actionUrl,
                    data: param,
                    beforeSend: function() {
                        //
                    },
                    success: function(result) {
                        if (result != null) {
                            oTable.fnDraw();
                        }
                    },
                    error: function() {
                        //
                    },
                    complete: function() {
                        //
                    }
                });
            }
        </script>
    }
}