@model isriding.Web.Models.Authen.RoleModel
@{
    ViewBag.Title = "角色管理";
}


@Html.Partial("_Search", Model.Search)
@Html.Partial("_List")
@Html.Partial("Modal")
@Html.Partial("_FormModalPermission")

@section scripts{
    <script>
        var oTable = null;

        $(function() {
            var actionUrl = "@Url.Action("InitDataTable")?rand=" + Math.random();
            var aoColumns = [
                { "sName": "sort" },
                { "sName": "name" },
                { "sName": "description" },
                { "sName": "ordersort" },
                {
                    "sName": "enabled",
                    "fnRender": function (oObj) {
                        var render;
                        var t = oObj.aData[oObj.aData.length-2];
                        if (t === "1") {
                            render = '启用';
                        } else {
                            render = '禁用';
                        }

                        return render;
                    }
                },
                {
                    "sName": "action",
                    "fnRender": function(oObj) {
                        var editUrl = '@Url.Action("Edit")';
                        var deleteUrl = '@Url.Action("Delete")';
                        var btnArray = "";
                        btnArray += "<a href=\"javascript:void(0);\" class=\"btn btn-xs green\" onclick=\"SetPermission('@Url.Action("SetPermission")','" + oObj.aData[oObj.aData.length - 1] + "')\"><i class=\"fa fa-gears\"></i> 授权</a>";
                        btnArray += " <a href=\"javascript:void(0);\" class=\"btn btn-xs purple\" onclick=\"Edit('" + editUrl + "','" + oObj.aData[oObj.aData.length - 1] + "')\"><i class=\"fa fa-edit\"></i> 编辑</a>";
                        btnArray += " <a href=\"javascript:void(0)\" class=\"btn btn-xs red\" onclick=\"TableManaged.confirmDelete(this, '" + deleteUrl + "')\"><i class=\"fa fa-times\"></i> 删除</a>";
                        return btnArray;

                        return TableManaged.btnEdit(editUrl, oObj.aData[oObj.aData.length - 1]) + ' ' + TableManaged.btnDelete(deleteUrl, oObj.aData[oObj.aData.length - 1]);
                    }
                }
            ];

            oTable = TableManaged.init($(".datatable"), actionUrl, aoColumns);

            $('#search_form').keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();//取消回车原事件
                    TableManaged.search('@Url.Action("InitDataTable")');
                }
            });
        });

        //新增
        function Create(actionUrl) {
            ShowModal(actionUrl, {}, "新增角色");
        }

        //编辑
        function Edit(actionUrl, id) {
            var param = { id: id };
            ShowModal(actionUrl, param, "编辑角色");
        }

        //保存
        function Save() {
            SaveModal(oTable);
        }

        //受权
        function SetPermission(actionUrl, id) {
            var url = actionUrl + "/" + id;
            //表单初始化
            $.get(url, function (data) {
                $("#modal-form-permission").draggable({
                    cursor: "move",
                    handle: ".modal-header"
                });
                $("#modal-content-permission").html(data);
                $(".modal-title-permission").html("角色授权");
                $('#modal-form-permission').modal('show');
                RegisterForm();
            });
        }

        //保存授权
        function SavePermission() {
            //新模块权限
            var roleId = $("#RoleId").val();
            var newModulePermission = new Array();
            $("input[type = 'checkbox'][name = 'modulectx']").each(function () {
                if (this.checked) {
                    //模块
                    var moduleId = $(this).val();
                    //权限列表
                    var permissionObj = $(".childpermissioncheck-" + $(this).val());
                    if (permissionObj.length === 0) {
                        //父模块
                        var newModulePermissionData = {};
                        newModulePermissionData["RoleId"] = roleId;
                        newModulePermissionData["ModuleId"] = moduleId;
                        newModulePermissionData["PermissionId"] = null;
                        newModulePermission.push(newModulePermissionData);
                    } else {
                        permissionObj.each(function () {
                            if (this.checked) {
                                var newModulePermissionData = {};
                                newModulePermissionData["RoleId"] = roleId;
                                newModulePermissionData["ModuleId"] = moduleId;
                                newModulePermissionData["PermissionId"] = $(this).val();
                                //添加到数组
                                newModulePermission.push(newModulePermissionData);
                            }
                        });
                    }
                }
            });

            var actionUrl = "@Url.Action("SetPermission")";
            //var $form = $("#modal-content-permission");
            var isSet = $("input[name='isSet']").val();
            var data = { RoleId: roleId, IsSet: isSet, newModulePermission: JSON.stringify(newModulePermission) }
            $.ajax({
                type: "POST",
                url: actionUrl,
                data: data,
                success: function (data) {
                    //bootbox.alert(data.Message);
                    if (data != null) {
                        $('#modal-form-permission').modal('hide');
                    }
                }
            });
        }

        function ClosePermissionModal() {
            $('#modal-form-permission').modal('hide');
            TableManaged.reset($("#modal-content-permission"));
        }
    </script>
}
