@model isriding.Web.Models.SchoolManage.RechargeModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="tabbable tabbable-custom tabbable-full-width">
    @*<ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1" data-toggle="tab">基本信息</a>
            </li>
        </ul>*@
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">预充值</label>
                    <div class="col-md-6">
                        
                        @Html.TextBoxFor(t => t.Recharge_count, new { @class = "form-control" })
                        
                        <span class="help-block">
                            @Html.ValidationMessageFor(t => t.Recharge_count)
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">押金</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(t => t.Deposit, new { @class = "form-control" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(t => t.Deposit)
                        </span>
                    </div>
                </div>
                @*<div class="form-group">
                    <label class="control-label col-md-3">校园</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.School_id, Model.SchoolList, new { @class = "form-control" })
                    </div>
                </div>*@
                <div class="form-group">
                    <label class="control-label col-md-3">会员名称</label>
                    <div class="col-md-6">
                        @Model.User_name
                    </div>
                </div>
                @*<div class="form-group">
                    <label class="control-label col-md-3">启用</label>
                    <div class="col-md-6">
                        <div class="checkbox-list">
                            <label class="checkbox-inline">

                                @Html.CheckBoxFor(t => t.Enabled)

                            </label>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
