@using isriding.Web.Models.Authen

@{
    ViewBag.Title = "租户(学校)管理";
    var buttonList = ViewBag.ButtonList as List<PermissionButtonModel>;
}
@if (buttonList != null && buttonList.Any(t => t.Name.ToLower() == "浏览"))
{
    if (buttonList.Any(t => t.Name == "新增"))
    {
        <div class="fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="table-toolbar">
                        <div class="btn-group">
                            <a href="javascript:void(0);" class="btn blue" onclick="Create('@Url.Action("Create")')"><i class="fa fa-plus"></i> 添加</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="table-responsive">
        <table class="table datatable table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th width="80">
                    序号
                </th>
                <th>
                    名称
                </th>
                <th>
                    城市区号
                </th>
                <th>
                    GPS
                </th>
                <th>
                    停车港数量
                </th>
                <th>
                    收费(分/分钟)
                </th>
                <th>
                    押金金额
                </th>
                <th>
                    起租时间(分钟)
                </th>
                <th>
                    起租金额
                </th>
                <th>
                    封顶金额
                </th>
                <th>
                    操作
                </th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    @Html.Partial("Modal")

    @section scripts{
        <script>
            var oTable = null;

            $(function() {
                var actionUrl = "@Url.Action("InitDataTable")?rand=" + Math.random() + "&" + $("#search_form").serialize();
                var aoColumns = [
                    { "sName": "sort" },
                    { "sName": "name" },
                    { "sName": "areacode" },
                    { "sName": "gps_point" },
                    { "sName": "site_count" },
                    { "sName": "time_charge" },
                    { "sName": "deposit" },
                    { "sName": "free_time" },
                    { "sName": "fixed_amount" },
                    { "sName": "top_amount" },
                    {
                        "sName": "action",
                        "fnRender": function(oObj) {
                            var editUrl = '@Url.Action("Edit")';
                            var deleteUrl = '@Url.Action("Delete")';
                            var render = "";
                            @if (buttonList.Any(t => t.Name.ToLower() == "编辑"))
                            {
                                <text>render += TableManaged.btnEdit(editUrl, oObj.aData[oObj.aData.length - 1]) + ' ';</text>
                            }
                            @if (buttonList.Any(t => t.Name.ToLower() == "删除"))
                            {
                                <text>render += TableManaged.btnDelete(deleteUrl, oObj.aData[oObj.aData.length - 1]);</text>
                            }
                            return render;
                            //return TableManaged.btnEdit(editUrl, oObj.aData[oObj.aData.length - 1]) + ' ' + TableManaged.btnDelete(deleteUrl, oObj.aData[oObj.aData.length - 1]);
                        }
                    }
                ];
                var fnDrawCallback = function () {
                    //$("[data-toggle='tooltip']").popover();
                };
                oTable = TableManaged.init($(".datatable"), actionUrl, aoColumns, fnDrawCallback);
            });

            //新增
            function Create(actionUrl) {
                ShowModal(actionUrl, {}, "新增租户(学校)");
            }

            //编辑
            function Edit(actionUrl, id) {
                var param = { id: id };
                ShowModal(actionUrl, param, "编辑租户(学校)");
            }

            //保存
            function Save() {
                SaveModal(oTable);
            }
        </script>
    }
}